.bg-navy-blue{
    background-color: #110F27;
}

body{
    background-image: url(./images//Background\ pattern.png);
    background-color: #110F27;
}

.font-ibm{
    font-family: 'IBM Plex Sans';
}

.font-source{
    font-family: 'Source Sans Pro';
}

.letter_2{
 letter-spacing: -0.02em;
}

section{
    margin-top: 200px;
    margin-bottom: 200px;
}