.bg-navy-blue{
    background-color: #110F27;
}

body{
    background-image: url(./images//Ellipse\ 2.png), url(./images//Background\ pattern.png);
    background-color: #110F27;
    background-position: center 1180px;
    background-repeat: no-repeat;
}

.font-ibm{
    font-family: 'IBM Plex Sans';
}

.font-source{
    font-family: 'Source Sans 3';
}

.letter_2{
 letter-spacing: -0.02em;
}

section{
    margin-top: 200px;
    margin-bottom: 200px;
}

.hero{
    background-image: url(./images/Light-accent.png);
    background-repeat: no-repeat;
    background-position: right top;
    background-origin: padding-box;
}

.accordion-content {
    transition: max-height 0.3s ease-out, padding 0.3s ease;
}

.logo{
    background: linear-gradient(91.51deg, #1656B9 -11.28%, rgba(129, 116, 255, 0.81) 116.57%);
    font-family: 'Orbitron';
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 25px;
}


summary:first-of-type {
    list-style-type: none;
}
 
summary:after {
  border-radius: 5px;
  content: '+' ;
  color: #FFFFFF;
  float: right;
  font-size: 30px;
  /* margin: -7px 12px 0 0; */
  padding: 0;
  text-align: center;
  width: 20px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 50px;
}

details[open] summary:after {
  content: "-";
   font-size: 40px;
}

.hr{
    width: 95%;
    margin-inline: auto;
}

@media (max-width: 800px) {
    .logo{
        background: linear-gradient(91.51deg, #1656B9 -11.28%, rgba(129, 116, 255, 0.81) 116.57%);
        font-family: 'Orbitron';
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 24px;
    }

    .mobile-menu-bg{
        background-color: #110F27;
        background-image: url(./images/Light-accent.png);
        background-size: contain;
    }
}

