.bg-navy-blue{
    background-color: #110F27;
}

body{
    background-image: url(./images//Background\ pattern.png);
    background-color: #110F27;
}

.font-ibm{
    font-family: IBM Plex Sans;
}

section{
    margin-top: 200px;
    margin-bottom: 200px;
}